@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

/**** START HEADER ****/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center; }
  header .navbar {
    width: 100%; }
  header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; }
    header ul li {
      padding: 0px 50px;
      font-size: 20px; }

.logo-custom {
  padding: 10px 40px; }
  .logo-custom img {
    width: 100px; }

.logo-menu img {
  width: 150px; }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none; }

.nav-link {
  color: #fff; }

#offcanvasNavbar {
  background: linear-gradient(180deg, #005b97 0%, #3fa9f5 100%); }

/**** END HEADER ****/
/**** START BODY ****/
/* BANNER PRINCIPAL - HOME */
#banner {
  width: 100%; }
  #banner img {
    width: 100%; }

/* SECCION NUESTRA FAMILIA - HOVER */
#nuestra-familia {
  display: flex;
  flex-direction: row;
  padding: 40px; }

.familia-imagen img {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  margin-bottom: 20px; }

.familia-texto {
  padding: 0 30px; }
  .familia-texto h1 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    .familia-texto h1::after {
      content: '';
      position: relative;
      width: 120px;
      height: 3px;
      background-color: #3fa9f5; }
  .familia-texto p {
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 25px;
    letter-spacing: 1; }

/* SECCION CONOCENOS - HOME */
#conocenos {
  display: block;
  width: 100%;
  background-image: url(../images/fondo-conocenos.png);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 100px; }
  #conocenos h2 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    #conocenos h2::after {
      content: '';
      position: relative;
      width: 120px;
      height: 3px;
      background-color: #3fa9f5; }

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px; }

.card-custom {
  width: 250px;
  height: 450px;
  background: linear-gradient(180deg, #005b97 0%, #3fa9f5 100%);
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 15px 0;
  /* ANIMACION CARD */ }
  .card-custom:hover {
    animation-name: moveCard;
    animation-timing-function: ease-in;
    animation-duration: 1200ms; }

@keyframes moveCard {
  0% {
    top: 0; }
  50% {
    top: -10px; }
  100% {
    top: 0; } }

.card-custom__img img {
  width: 100%;
  border-radius: 10px 10px 0 0; }

.card-custom__info {
  text-align: center;
  padding: 30px 0;
  color: white; }
  .card-custom__info h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1;
    line-height: 1px;
    padding-bottom: 20px; }
  .card-custom__info h4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1;
    padding-bottom: 20px; }

.card-custom__button {
  text-align: center; }

.btn-card-custom {
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1;
  border: none;
  background-color: white;
  color: #000; }

/**** END BODY ****/
/**** START INTERNAL PAGES ****/
#interna {
  padding: 40px;
  padding-top: 20%;
  background-image: url(../images/fondo-interno.png);
  background-size: cover; }

.cuadro-info {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.interna-imagen {
  width: 100%; }
  .interna-imagen img {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px; }

.interna-info {
  width: 100%;
  padding: 0 30px; }
  .interna-info h2 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    .interna-info h2::after {
      content: '';
      position: relative;
      width: 120px;
      height: 3px;
      background-color: #3fa9f5; }
  .interna-info h4 {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 25px;
    font-weight: 700; }
  .interna-info span {
    font-weight: 400; }

.interna-texto {
  padding: 50px 0;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }
  .interna-texto p {
    font-weight: normal;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 25px;
    letter-spacing: 1; }

/**** END INTERNAL PAGES ****/
/**** START FOOTER ****/
footer {
  display: block;
  padding: 30px 0; }
  footer img {
    width: 150px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); }
  footer p {
    text-align: center;
    font-size: 14px; }

/**** END FOOTER ****/
